@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Index.css" rel="stylesheet" />
<div class="loop">
    <input type="radio" name="slider" id="first">
    <input type="radio" name="slider" id="second">
    <input type="radio" name="slider" id="third">

    <div id="wrap">
        <ul id="slider">
            <li><img src="~/images/2.jpg" /></li>
            <li><img src="~/images/3.jpg" /></li>
            <li><img src="~/images/4.jpg" /></li>
        </ul>
    </div>
    <div id="opts">
        <label for="first">1</label>
        <label for="second">2</label>
        <label for="third">3</label>
    </div>
</div>

<li class="wd-390 fl mg-0015" id="goto_zbtj">
    <div class="card-box">
        
            <label class="fl fs-18 mr-10"><span class="icon-star-line2 mr-10 fs-22 pr tp-3"></span>老万推荐</label>
            <a class="fl cl-f" target="_blank" href="javascript:void(0);">
                老万精心推荐
                <span class="icon-aoorw-line cl-f ml-5 pr tp-2 fs-15"></span>
            </a>
        <div class="cb"></div>
        <p></p>
    </div>

    <ul class="scale-box oh">
        <li class="wd-50p fl ht-183">
            <div class="bd-4-f scale oh">
                <a class="db" target="_blank" href="">
                    <img alt="品质好书" width="190" height="175" class="db visible" src="~/images/shouye1.jpg">
                </a>
            </div>
        </li>
        <li class="wd-50p fl ht-183">
            <div class="bd-4-f scale oh">
                <a class="db" target="_blank" href="">
                    <img alt="独家特供" width="190" height="175" class="db visible" src="~/images/shouye2.jpg">
                </a>
            </div>
        </li>
        <li class="wd-50p fl ht-93">
            <div class="bd-4-f scale oh">
                <a class="db" target="_blank" href="">
                    <img alt="传家礼品" width="190" height="85" class="db visible" src="~/images/shouye3.jpg">
                </a>
            </div>
        </li>
        <li class="wd-50p fl ht-93">
            <div class="bd-4-f scale oh">
                <a class="db" target="_blank" href="">
                    <img alt="好书成套" width="190" height="85" class="db visible" src="~/images/shouye4.jpg">
                </a>
            </div>
        </li>
        <li class="wd-50p fl ht-93">
            <div class="bd-4-f scale oh">
                <a class="db" target="_blank" href="">
                    <img alt="文创" width="190" height="85" class="db visible" src="~/images/shouye5.jpg">
                </a>
            </div>
        </li>
        <li class="wd-50p fl ht-93">
            <div class="bd-4-f scale oh">
                <a class="db" target="_blank" href="">
                    <img alt="生活美学" width="190" height="85" class="db visible" src="~/images/shouye6.jpg">
                </a>
            </div>
        </li>
        <div class="cb"></div>
    </ul>
</li>


<li class="wd-390 fl mg-0015">
    <div class="card-box">
        <p class="card clearfix">
            <label class="fl fs-18 mr-10"><span class="icon-book-line mr-10 fs-22 pr tp-3"></span>小杜速递</label>
            <a class="fl cl-f" target="_blank" href="javascript:void(0);">
                及时培养兴趣
                <span class="icon-aoorw-line cl-f ml-5 pr tp-2 fs-15"></span>
            </a>
        </p>
    </div>

    <ul class="clearfix ht-370 scale-box oh">
        <li class="wd-50p fl ht-183">
            <div class="bd-4-f scale oh">
                <a class="db" target="_blank" href="">
                    <img alt="新书预售" width="190" height="175" class="db visible" src="~/images/shouye7.jpg">
                </a>
            </div>
        </li>
        <li class="wd-50p fl ht-183">
            <div class="bd-4-f scale oh">
                <a class="db" target="_blank" href="">
                    <img alt="壹周新书" width="190" height="175" class="db visible" src="~/images/shouye8.jpg">
                </a>
            </div>
        </li>
        <li class="wd-50p fl ht-93">
            <div class="bd-4-f scale oh">
                <a class="db" target="_blank" href="">
                    <img alt="签名专区" width="190" height="85" class="db visible" src="~/images/shouye9.jpg">
                </a>
            </div>
        </li>
        <li class="wd-50p fl ht-93">
            <div class="bd-4-f scale oh">
                <a class="db" target="_blank" href="">
                    <img alt="书单来了" width="190" height="85" class="db visible" src="~/images/shouye10.jpg">
                </a>
            </div>
        </li>
        <li class="wd-50p fl ht-93">
            <div class="bd-4-f scale oh">
                <a class="db" target="_blank" href="">
                    <img alt="霁蓝之茶具" width="190" height="85" class="db visible" src="~/images/shouye11.jpg">
                </a>
            </div>
        </li>
        <li class="wd-50p fl ht-93">
            <div class="bd-4-f scale oh">
                <a class="db" target="_blank" href="">
                    <img alt="玩具嘉年华" width="190" height="85" class="db visible" src="~/images/shouye12.jpg">
                </a>
            </div>
        </li>
    </ul>
</li>

<li class="wd-300 fr mg-70000000">
    <a class="db fr wd-400" target="_blank" href="">
        <img src="~/images/p1.jpg" width="310" height="412" class="db visible">
    </a>

</li>

<div class="my_module" id="35" data-template-id="38" module-id="35" module-type="1">
    <div class="mb-20">
        <ul>
            <li class="wd-33p fl">
                <a target="_blank" class="db mg-3" href="">
                    <img width="373" src="~/images/adv1.jpg" alt="" class="db visible">
                </a>
            </li>
            <li class="wd-33p fl">
                <a target="_blank" class="db mg-3" href="">
                    <img width="373" src="~/images/adv2.jpg" alt="" class="db visible">
                </a>
            </li>
            <li class="wd-33p fl">
                <a target="_blank" class="db mg-3" href="">
                    <img width="373" src="~/images/adv3.jpg" alt="" class="db visible">
                </a>
            </li>
            <div class="cb"></div>
        </ul>
    </div>
    <div class="cb"></div>
</div>
