@{
    Layout = null;
    ViewBag.Title = "Register";
}
<link href="~/Content/Login.css" rel="stylesheet" />
<head>
    <title>注册界面</title>
</head>
<body>
    <div class="main">
        <div class="mainin">
            <h1><img src="~/images/logo.png"></h1>
            <div class="mainin2">
                <ul>
                    <li><span>用户名：</span><input name="LoginName" type="text" id="loginName" placeholder="登录名" class="SearchKeyword"></li>
                    <li><span>密码：</span><input name="Password" type="password" id="password" placeholder="密码" class="SearchKeyword2"></li>
                    <li><span>确认密码：</span><input name="Conpassword" type="password" id="conpassword" placeholder="密码" class="SearchKeyword3"></li>
                    <li><button class="register">注册</button></li>
                </ul>
            </div>

        </div>
    </div>
</body>
